:root {
  --color-light: #FEF2BF;
  --color-dark: #011F3F;
}
body {
  text-align: center;
  background-color: #011F3F;
  height: 94vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#level-title, .welcome, .marquee {
  font-family: 'Press Start 2P', cursive;
  font-size: auto;
  margin: 20px;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 1vh;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 5px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
#start {
  border: none;
  color:  var(--color-dark);
  background: var(--color-light);
  border-radius: 1rem;
  width: 50%;
  padding: .5rem;
}
@media (max-width: 600px){
  .btn {
    height: 80px;
    width: 80px;
  }
  .container {
    margin: 20px auto;
    width: 80%;
  }
}